@font-face{
    font-family: Solway;
    src: url(../fonts/solway/Solway-Regular.ttf);
}

@font-face{
    font-family: abel;
    src: url(../fonts/abel/Abel-Regular.ttf);
}

@font-face{
    font-family: pacifico;
    src: url(../fonts/pacifico/Pacifico-Regular.ttf);
}